body {
    height: auto;
    max-height: 100vh;
    color: white;
}

#menu-lateral {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 75vw;
    z-index: 2;
    background-color: #1A5B8D;
    box-shadow: -150px 0px 0px rgba(0, 0, 0, 0.5);
}

#menu-lateral header{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 7vh;
    border-bottom: 4px solid black;
}

#menu-lateral header i {
    height: 30px;
    width: 30px;
    font-size: 30px;
}

#menu {
    padding: 1.5rem 0 0 2rem;
}

#menu > a{
    display: flex;
    margin-bottom: 1rem;
}

#menu  i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    width: 1rem;
    font-size: 28px;
}

#header-menu {
    height: 7vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
}

#menu-abrir, #menu-fechar {
    height: 30px;
    width: 30px;
    font-size: 30px;
    margin-right: 1.25rem;
    color: #1A5B8D;
}

#header-mobile {
    height: 16vh;
    width: 100%;
    background-color: #1A5B8D;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-top: 3px solid black;
}

#logo, #menu-desktop {
    display: none;
}

#header-main p {
    font-family: 'Goldman';
    text-align: center;
    font-size: 1.75rem;
}

#header-main div {
    font-family: 'Goldman';
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

#header-main div span:nth-child(1) {
    color: #22A62E;
}

/* ------------------------------------------------------------------------
##############################  CONTEÚDO  ###################################
------------------------------------------------------------------------ */

#header-main div span:nth-child(2){
    font-size: 1.5rem;
}

#grafico-botoes {
    padding: 0rem 0 1rem 0;
}

#grafico {
    display: flex;
    justify-content: center;
    margin: 0 auto 1rem auto;
    width: 60vw;
    height: 60vw;
}

#circulo-maior {
    height: 100%;
    width: 100%;
    background-color: #22A62E;
    border-radius: 100%;
}

#botoes {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2vh;
}

.btn {
    height: 8.5vh;
    width: 90vw;
    background-color: white;
    border-radius: 9999px;
    border-width: 6px;
    display: flex;
    align-items: center;
    position: relative;
}

#botoes i {
    font-size: 8.5vh;
    position: absolute;
    left: -5px;
}

#botoes p {
    margin-left: 23%;
}

#botoes :nth-child(1) > p,
#botoes :nth-child(1) i {
    color: #22A62E;
}

#botoes :nth-child(2) > p,
#botoes :nth-child(2) i {
    color: #D80032;
}

#botoes :nth-child(3) > p{
    color: #1A5B8D;
    margin: 0;
}

#botoes :nth-child(1) > p,
#botoes :nth-child(2) > p,
#botoes :nth-child(3) > p {
    font-family: 'Comic Neue';
}

#botoes :nth-child(3) {
    justify-content: center;
}

#botoes a:nth-of-type(1) {
    border-color: #22A62E;
}

/*
#botoes a:nth-of-type(1):hover {
    background-color: #1A5B8D;
}
*/

#botoes a:nth-of-type(2) {
    border-color: #D80032;
}

#botoes a:nth-of-type(3) {
    border-color: #1A5B8D;
}

/* ---------------------------------------------------------------------------------------------
################################################################################################
--------------------------------------------------------------------------------------------- */

@media (min-height: 740px) {
    #grafico {
        display: flex;
        justify-content: center;
        margin: 0 auto 1rem auto;
        width: 75vw;
        height: 75vw;
    }

    #botoes {
        row-gap: 2.5vh;
    }
}

@media (min-width: 1024px) {
    main {
        height: 100vh;
    }

    #header-menu {
        display: none;
    }

    #header-mobile {
        width: auto;
        border: none;
        margin: 0;
        padding-left: 1rem;
        scale: 0.8;
    }

    #header-main {
        display: flex;
        background: #1A5B8D;
        justify-content: space-between;
        align-items: center;
        height: 17vh;
    }

    #logo {
        display: flex;
        align-items: center;
        height: 100%;
    }

    #logo > img {
        height: 85%;
        width: auto;
    }

    #menu-desktop {
        display: flex;
        padding-right: 4rem;
        gap: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Comic Neue';
    }

    #conteudo {
        display: flex;
        height: 83vh;
    }

    #grafico-botoes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        height: 83vh;
        gap: 5%;
    }

    #grafico {
        margin: 0;
        width: 15rem;
        height: 15rem;
    }

    #botoes {
        width: 100%;
    }

    #botoes i {
        font-size: 11vh;
    }

    #botoes p {
        margin-left: 11.5vh;
    }

    .btn {
        height: 11vh;
        width:85%;
        border-width: 8px;
    }

    #registrar:hover {
        background-color: #86efac;
    }

    #baixa:hover {
        background-color: #fca5a5;
    }

    #vagas {
        padding: 5% 3% 5% 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.5%;
        width: 70%;
    }

    .vaga {
        flex: 1 1 3.5%;
        width: 3.5%;
        height: 10%;
        height: 3rem;
        background-color: #22A62E;
    }

    .vagaPreenchida {
        flex: 1 1 3.5%;
        width: 3.5%;
        height: 10%;
        height: 3rem;
        background-color: #D80032;
    }

    #botoes a:nth-of-type(3) {
        display: none;
    }
}

@media (min-width: 1536px) {
    #header-mobile {
        width: auto;
        border: none;
        margin: 0;
        padding-left: 6rem;
        scale: 1;
    }

    #header-main p {
        font-family: 'Goldman';
        text-align: center;
        font-size: 2.5rem;
    }
    
    #header-main div {
        font-family: 'Goldman';
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
    }
    
    #header-main div span:nth-child(1) {
        color: #22A62E;
    }
}