body {
    height: 100vh;
    color: white;
}

#header-menu {
    height: 7vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
}

#menu-button {
    height: 30px;
    width: 30px;
    font-size: 30px;
    margin-right: 1.25rem;
    color: #1A5B8D;
}

#header-main {
    height: 16vh;
    width: 100%;
    background-color: #1A5B8D;
    border-top: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 3rem;
}

#header-main p {
    font-family: 'Goldman';
    text-align: center;
    font-size: 1.75rem;
}

#header-main div {
    font-family: 'Goldman';
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

#header-main div span:nth-child(1) {
    color: #22A62E;
}

#grafico {
    display: flex;
    justify-content: center;
}

#header-main div span:nth-child(2){
    font-size: 1.5rem;
}

#grafico {
    margin-bottom: 2.5rem;
}

#circulo-maior {
    height: 17.5rem;
    width: 17.5rem;
    background-color: #22A62E;
    border-radius: 100%;
    position: relative;
}

#circulo-menor {
    background-color: white;
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 100%;
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
}

#botoes {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

#botoes a {
    height: 8.5vh;
    width: 90vw;
    background-color: white;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    position: relative;
}

#botoes i {
    font-size: 8.5vh;
    position: absolute;
    left: -5px;
}

#botoes p {
    font-size: 1.75rem;
    margin-left: 6rem;
}

#botoes :nth-child(1) > p,
#botoes :nth-child(1) i {
    color: #22A62E;
}

#botoes :nth-child(2) > p,
#botoes :nth-child(2) i {
    color: #D80032;
}

#botoes :nth-child(3) > p{
    color: #1A5B8D;
    margin: 0;
}

#botoes :nth-child(1) > p,
#botoes :nth-child(2) > p,
#botoes :nth-child(3) > p {
    font-family: 'Comic Neue';
}

#botoes :nth-child(3) {
    justify-content: center;
}

#botoes a:nth-of-type(1) {
    border: 6px solid #22A62E;
}

#botoes a:nth-of-type(1):hover {
    background-color: #1A5B8D;
}

#botoes a:nth-of-type(2) {
    border: 6px solid #D80032;
}

#botoes a:nth-of-type(3) {
    border: 6px solid #1A5B8D;
}

